{% extends "administration/site_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="well">
	<h2>{{ title }}</h2>
	
	<form class="form-horizontal" id="edit_item" action="." method="post" enctype="multipart/form-data">
	
	    {% csrf_token %}
	    {% crispy form %}
	
	    {{ itemimage_formset.management_form }}
	    <div class="well">
	    <table>
	        <tbody>
	            {% for form in itemimage_formset.forms %}
	            <tr id="{{ form.prefix }}-row">
	                    <td>{{ form.as_p }}</td>
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	   </div>

	    
	    <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
	</form>
	
	{% endblock content %}
	
	
	{% block extra-script %}
	<script src="{% static "deps/js/jquery-1.9.1.min.js"%}" type="text/javascript"></script>
	<script src="{% static "deps/js/jquery.formset.min.js"%}" type="text/javascript"></script>
	
	{% endblock %}
</div>