{% extends "administration/site_base.html" %}
{% load i18n %}
{% block content %}
    {% if perms.rest.add_item and exhibition_pk %}
    <a href="{% url 'item_add' exhibition_pk %}" class="btn btn-primary pull-right no-underline">{% trans "add item" %}</a>
    <a href="{% url 'exhibition_qrcode' exhibition_pk %}" class="btn pull-right no-underline" style="margin-right: 10px;"><i class="icon-qrcode"></i> {% trans "generate QRcodes" %}</a>
    <div class="clearfix" style="margin-bottom: 10px;"></div>
    {% endif %}

    {% for item in items %}
        {% if forloop.counter0|divisibleby:"3" %}
            <div class="row-fluid">
        {% endif %}
        <div class="well span4">
            <div class="row-fluid">
                <div class="span9">
                    {% if perms.rest.change_item %}
                        <a href="
                            {% if exhibition_pk %}
                                {% url 'item_edit' exhibition_pk item.pk %}
                            {% else %}
                                {% url 'item_no_exhibition_edit' item.pk %}
                            {% endif %}
                        ">
                    {% endif %}

                    {{ item.name }} • {{ item.year }} • {{ item.author }}

                    {% if perms.rest.change_item %}
                        </a>
                    {% endif %}
                </div>
                <div class="span3">
                    {% if perms.rest.delete_item %}
                        <a class="no-underline" href="
                            {% if exhibition_pk %}
                                {% url 'item_delete' exhibition_pk item.pk %}
                            {% else %}
                                {% url 'item_no_exhibition_delete' item.pk %}
                            {% endif %}
                        ">
                            <button class="btn btn-danger btn-block">{% trans "remove" %}</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% if forloop.counter0|add:"1"|divisibleby:"3" %}
        </div>
    {% endif %}
    {% endfor %}
    {% if not exhibitions.count|divisibleby:"3" %}
        </div>
    {% endif %}

    {% include "administration/paginated.html" %}

{% endblock content %}

