{% extends "kiosk/site_base.html" %}
{% load static %}

{% block content %}
    <div id="exhibition_list_template"></div>
{% endblock content %}

{% block extra-script %}
    <script src="{% static "js/exhibition.js" %}"></script>
{% endblock %}

{% block templates %}
    <script type="text/template" id="exhibition_template">
        <a href="<%= url %>">
            <article>
                <h3><%= title %></h3>
                <blockquote><%= description %></blockquote>
                <img src="<%= image %>" alt="<%= title %>" />
            </article>
        </a>
    </script>
{% endblock templates %}