{% extends "kiosk/site_base.html" %}
{% load static %}

{% block content %}
    <div id="main">
    <div id="museum-detail">
        <article>
            <h1 class="text-center">
                <span>aMuse</span>
            </h1>
            <h4 class="text-center">le mostre di questo bellissimo museo</h4>
        </article>
    </div>
    <div id="exhibition-list-template"></div>
    </div>
{% endblock content %}

{% block extra-script %}
    <script src="{% static "js/exhibition.js" %}"></script>
{% endblock %}

{% block templates %}
    <script type="text/template" id="exhibition_template">
        <a href="<%= url %>">
            <article>
                <img src="<%= image %>" alt="<%= title %>" />
                <p class="text-center"><%= title %></p>
                <p class="text-center"><%= description %></p>
            </article>
        </a>
    </script>
{% endblock templates %}