{% extends "kiosk/site_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div id="main">
        <div id="exhibition-detail"></div>
        <div id="item-list-template"></div>

        <div id="end_exhibition_form" style="display: none;">
            <form>
                <input type="text" id="inputFullname" placeholder="{% trans "fullname"%}">
                <input type="email" id="inputEmail" placeholder="email">
                <button type="submit" class="btn">{% trans "send" %}</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div id="sidebar-detail"></div>
{% endblock content %}

{% block extra-script %}
    <script>
        window.exhibition.pk = "{{ pk }}";
    </script>
    <script src="{% static "js/item.js" %}"></script>
    <script>
        $("#end_exhibition_form").find('button').on('click', function (e) {
            var data;

            e.preventDefault();
            e.stopPropagation();

            data = {
                "email": $('#inputEmail').val(),
                "name": $("#inputFullname").val(),
                "exhibition": "{{ pk }}",
                "posts": JSON.stringify($.map($('.item').find('.icon-star-active'), function (el) {
                    return {
                        'item_pk': $(el).closest('article').data('pk')
                    };
                }))
            };

            $.post(window.urls.story, data).done(function (r) {
                window.location.href = window.urls.kiosk;
            }).fail(function () {
                alert('{% trans "Sorry, something went wrong" %}!');
            });
        });
    </script>
{% endblock %}

{% block templates %}
    <script type="text/template" id="item_template">
        <article class="pin item" data-pk="<%= pk %>">
            <img src="<%= images[0] %>" alt="<%= name %>" />
            <i class="icon-star"></i>
            <div class="sentiment" style="background: hsl(<%= color %>, 60%, 50%)"></div>
            <p class="text-center"><%= name %></p>
        </article>
    </script>

    <script type="text/template" id="item_detail_template">
        <article class="item-detail" data-pk="<%= id %>">

            <h1 class="text-center">
                <span id="close-button"><i class="icon-arrow-left"></i> {% trans "Close" %}</span>
                <span><%= name %></span>
            </h1>
            <h4 class="text-center"> <%= author %> <%= year %></h4>


            <div class="first-image-wrapper">
                <% if(images.length !==1) { %>
                    <div class="text-center" style="margin-bottom: 10px;">
                        <% for(var i in images) { %>
                        <div style="position: relative; height: 50px; width: 50px; display: inline-block; vertical-align: top; overflow: hidden;">
                            <img class="other-images" src="<%= images[i] %>" alt="<%= name %>" />
                        </div>
                        <% } %>
                    </div>
                <% } %>
                <div style="position: relative;">
                    <i class="icon-star <% if(active){ %>icon-star-active<% } %>"></i>
                    <img class="first-image" src="<%= images[0] %>" alt="<%= name %>" width="250" /><br>
                </div>
            </div>
            <blockquote><%= desc %></blockquote>
        </article>
            <div class="clearfix"></div>
            <p style="margin-left: 10px; padding-left: 10px; border-left: 5px solid hsl(<%= color %>, 60%, 50%);">{% trans "Tweets about this items are" %} <%= sentiment > 0 ? "{% trans "positive" %}" : "{% trans "negative" %}" %></p>
    </script>

    <script type="text/template" id="exhibition_detail_template">
        <article>
            <h1 class="text-center">
                <span id="back-button"><i class="icon-arrow-left"></i> {% trans "Back" %}</span>
                <span><%= title %></span>
                <span id="end-button" style="display: none;">{% trans "End" %} <i class="icon-arrow-right"></i></span>
            </h1>
            <h4 class="text-center"><%= description %></h4>
        </article>
    </script>
{% endblock templates %}
