{% extends "papacastoro/site_base.html" %}
{% load static %}

{% block content %}
<div class="reveal">
  <div class="slides">
    <section class="tour-post tour-cover"><h1>{{ tour }}<h1></section>
      {% for p in posts %}
        {% if p.image %}
        <section class="tour-post user-image">
          <img src="{{ p.image.url }}">
          <p class="comment">
            <i class="icon-user"></i>
            {{ p.text }}
          </p>
        {% else %}
        <section class="tour-post tour-item">
          <h2>{{ p.item.name }}</h2>
          <div class="image-wrapper">
            {% with images=p.item.itemimage_set.all %}
              {% if images|length > 1 %}
              <div class="other-images">
                {% for image in images %}
                  <img src="{{ image.image.url }}">
                {% endfor %}
              </div>
              {% endif %}
              {% with firstimage=images|first %}
                <img src="{{ firstimage.image.url }}" class="item-image">
              {% endwith %}
            {% endwith %}
          </div>
          <div class="text">
            <p>{{ p.item.desc }}</p>
            {% if p.text %}
              <p class="comment">
                <i class="icon-user"></i>
                {{ p.text }}
              </p>
            {% endif %}
          </div>
        {% endif %}
        </section>
      {% endfor %}
    <section class="tour-post tour-share">
      <h2>Share this tour!</h2>
      <a href="http://www.facebook.com/sharer.php?u=http://youpony.pittoni.org/storyteller/{{ tour.public_id }}">
            <i class="icon-facebook icon-4x"></i>
        </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://twitter.com/share?text=Check%20out%20my%20last%20tour!&url=http://youpony.pittoni.org/storyteller/{{ tour.public_id }}">
            <i class="icon-twitter icon-4x"></i>
        </a>
    </section>
  </div>
</div>
{% endblock content %}

{% block extra-script %}
  <script src="{% static "papacastoro/js/functions.js" %}"></script>
  <script>
    $(function() {
      $('#wrapper').tubular({
        videoId: 'ouygVDstZwg',
        mute: true,
        repeat: true
      });
    });
  </script>
{% endblock %}
