{% extends "papacastoro/site_base.html" %}
{% load static %}
{% load i18n %}

{% block extra-styles %}
    <link rel="stylesheet" type="text/css" href="{% static "papacastoro/css/reveal.css" %}" />
{%endblock%}

{% block content %}
<div class="reveal">
  <div id="nav-left" class="control">
    <a href="#" class="navigate-left">
      <i class="icon-chevron-left"></i>
    </a>
  </div>
  <div class="slides">
    <section class="tour-post tour-cover"><h1>{{ tour|capfirst }}<h1></section>
      {% for p in posts %}
        {% if p.image %}
        <section class="tour-post user-image">
          <img src="{{ p.image.url }}">
          {% if p.text %}
            <p class="comment">
              <i class="icon-comment"></i>
              {{ p.text }}
            </p>
          {% endif %}
        {% else %}
        <section class="tour-post tour-item">
          <h2>{{ p.item.name }}</h2>
          <div class="image-wrapper">
            {% with images=p.item.itemimage_set.all %}
              {% if images|length > 1 %}
              <div class="other-images">
                {% for image in images %}
                <div>
                  <img src="{{ image.image.url }}">
                </div>
                {% endfor %}
              </div>
              {% endif %}
              {% with firstimage=images|first %}
                <img src="{{ firstimage.image.url }}" class="item-image">
              {% endwith %}
            {% endwith %}
          </div>
          <div class="text">
            <p>{{ p.item.desc }}</p>
            {% if p.text %}
              <p class="comment">
                <i class="icon-comment"></i>
                {{ p.text }}
              </p>
            {% endif %}
          </div>
        {% endif %}
        </section>
      {% endfor %}
    <section class="tour-post tour-share">
    <h2>{% trans "Share this tour" %}!</h2>
      <a href="http://www.facebook.com/sharer.php?u=http://{{ host }}/storyteller/{{ tour.public_id }}">
            <i class="icon-facebook icon-4x"></i>
        </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://twitter.com/share?text=Check%20out%20my%20last%20tour!&url=http://{{ host }}/storyteller/{{ tour.public_id }}">
            <i class="icon-twitter icon-4x"></i>
        </a>
    </section>
  </div>
  <div id="nav-right" class="control">
    <a href="#" class="navigate-next">
      <i class="icon-chevron-right"></i>
    </a>
  </div>
</div>
{% endblock content %}

{% block extra-script %}
   <script src="{% static "js/deps/jquery.tubular.1.0.js" %}"></script>
   <script src="{% static "papacastoro/js/deps/reveal.min.js" %}"></script>
   <script src="{% static "papacastoro/js/functions.js" %}"></script>

   <!-- Facebook sharing -->
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
       fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
   </script>
   <!-- /Facebook -->
   <!-- Twitter sharing -->
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   <!-- /Twitter -->
   <script>
       window.urls = {
           'kiosk': "/k/",
           'story': "/api/s/",
           'exhibition': "/api/m/",
           'exhibitionitem': "/api/m/<%= pk_m =>/o/",
           'item': "/api/o/"
       };
   </script>
   <script>
       Reveal.initialize({
           controls: true,
           progress: true,
           history: true,
           center: true,
           transition: 'page',
       });
   </script>

  <script>
    $(function() {
      $('#wrapper').tubular({
        videoId: '{{ tour.exhibition.video }}',
        mute: true,
        repeat: true,
        start: 10
      });
    });
  </script>
{% endblock %}


