{% extends "papacastoro/site_base.html" %}

{% block content %}
<div class="reveal">
  <div class="slides">
    <section class="tour-post tour-cover"><h1>{{ tour }}<h1></section>
      {% for p in posts %}
        {% if p.image %}
        <section class="tour-post user-image">
            <img src="{{ p.image.url }}">
            <p class="comment">
              <i class="icon-user"></i>
              {{ p.text }}
            </p>
        {% else %}
        <section class="tour-post tour-item">
            <h2>{{ p.item.name }}</h2>
            {% for image in  p.item.itemimage_set.all %}
            <img src="{{ image.image.url }}" class="item-image">
            {% endfor %}
            <p>{{ p.item.desc }}</p>
            <p class="comment">
              <i class="icon-user"></i>
              {{ p.text }}
            </p>
        {% endif %}
        </section>
      {% endfor %}
    <section class="tour-post tour-share">
      <h2>Share this tour!</h2>
      <!-- Facebook -->
      <div class="fb-send" data-href="http://youpony.pittoni.org/storyteller/{{ tour.public_id }}" data-font="lucida grande"></div>
      <!-- Twitter -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">{{ tour }} - aMuse</a>
    </section>
  </div>
</div>
{% endblock content %}
