{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>aMuse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="storyteller">
    <meta name="author" content="YouPony">

    {# <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" /> #}
    <link rel="stylesheet" type="text/css" href="{% static "papacastoro/css/reveal.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "papacastoro/less/style.less" %}" />
    
</head>
<body>
    <div id="wrapper"></div>
    {% block content %}{% endblock %}

    <script src="{% static "js/deps/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "js/deps/less-1.3.3.min.js" %}"></script>
    <script src="{% static "js/deps/jquery.tubular.1.0.js" %}"></script>
    <script src="{% static "papacastoro/js/deps/reveal.min.js" %}"></script>
    <script>
        window.urls = {
            'kiosk': "/k/",
            'story': "/api/s/",
            'exhibition': "/api/m/",
            'exhibitionitem': "/api/m/<%= pk_m =>/o/",
            'item': "/api/o/"
        };
        $(function() {
            $('#wrapper').tubular({
                videoId: 'ouygVDstZwg',
                mute: true,
                repeat: true
            });
        });
    </script>
    <script>
        Reveal.initialize({
            controls: false,
            progress: true,
            history: false,
            center: true,
            transition: 'page',
        });
    </script>
    {% block extra-script %}{% endblock %}
</body>
</html>
