{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>aMuse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="storyteller">
    <meta name="author" content="YouPony">

    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" type="text/css" href="{% static "papacastoro/less/style.less" %}" />
    {% block extra-styles %}{% endblock %}
</head>
<body>
    <div id="wrapper"></div>
    {% block content %}{% endblock %}

    <script src="{% static "js/deps/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "js/deps/less-1.3.3.min.js" %}"></script>
    {% block extra-script %}{% endblock %}
</body>
</html>
