@import "_reset";
@import "_font-awesome";
@import "_font";

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.text-center {
  text-align: center;
}

.reveal {
  z-index: 1000;
  position: relative;
}

.tour-post {
  background: #FEFEFE;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 5%;
  opacity: 1;
  padding: 15px;
  padding-bottom: 5px;
  width: 90%;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.tour-item {
  height: 100%;
  overflow: scroll;
}

.tour-post h1 {
  margin: 20% auto;
}

.tour-post h2 {
  margin: 1em auto;
}

.tour-post p {
  font-size: 18px;
  padding: 20px 0;
  text-align: left;
}

.comment {
  font-style: italic;
  text-indent: 10px;
}

.comment .icon-user {
  font-size: 32px;
  margin-right: 10px;
}

.user-image .comment {
  text-align: center;
}

.reveal .image-wrapper {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding-right: 20px;
  box-sizing: border-box;
}

.text {
  display: inline-block;
  float: left;
  width: 50%;
}

.reveal .other-images {

  img {
    vertical-align: middle;
    width: 30%;
  }
}

.reveal .item-image {
  margin: 20px;
  max-width: 80%;
}

.tour-share a {
  text-decoration: none;
}

.icon-facebook, .icon-twitter {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.icon-facebook:hover {
  color: #455EA4;
}

.icon-twitter:hover {
  color: #1FC1F1;
}
