@import "_reset";
@import "_font-awesome";
@import "_font";

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.text-center {
  text-align: center;
}

#reveal {
  z-index: 1000;
  position: relative;
}


#item-list-template {
  padding-top: 60px;
  position: relative;
  margin: 0 5%;
}

.tour-post {
  background: #FEFEFE;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 5%;
  opacity: 1;
  padding: 15px;
  padding-bottom: 5px;
  width: 90%;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.tour-post h2 {
  margin-bottom: 1em;
}

.tour-post p {
  font: 18px Arial, sans-serif;
  margin: 10px 0;
}
