.main-padding {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.centrone{
	text-align: center;
}

.buttagiu{
	padding-bottom: 25px;
}

.no-underline {
  text-decoration: none !important;
}

.no-underline:hover {
  text-decoration: none !important;
}