{% extends "administration/site_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<div class="well">
	<h2>{{ title }}</h2>

    <div class="row-fluid">
        <form class="form-horizontal offset2 span10" action="{{ request.get_full_path }}" method="post"
                {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {% crispy form %}
            <button type="submit" value="Submit" class="btn btn-primary pull-right">{% trans "Submit" %}</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

{% endblock content %}
