{% extends "administration/site_base.html" %}
{% load i18n %}
{% load qr_tags %}
{% block content %}

<div class="row-fluid">
{% for item in items %}
    {% with item.pk|stringformat:"d" as ipk %}
    {% with epk|add:"."|add:ipk as qrstring %}
        <p class="qrcodeImage"> {% qr_from_text qrstring "m" %} </p>
        <p> {{ item.name }} </p>
        <p> {{ item.author }}, {{ item.year }}
            {% if item.city %}, {{ item.city }}  {% endif %}
        </p>
        <p> {{ item.desc }} </p>
        {% endwith %}
    {% endwith %}
      <br/>
{% endfor %}

{% include "administration/paginated.html" %}
</div>
{% endblock content %}

