{% load url from future  %}
{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>aMuse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kiosk">
    <meta name="author" content="YouPony">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    {% block extra_style %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>
    <div class="main-padding">
        {% if user.is_authenticated %}
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                {% block logout %}
                    <a href="{% url 'logout' %}" class="btn pull-right">{% trans "Logout" %}</a>
                    <ul class="nav pull-right">
                        <li>
                            <a>
                                {{ user.username }}
                            </a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
        </div>
        {% endif %}
        {% block breadcrumbs %}
            {% if user.is_authenticated %}
                {% include 'administration/breadcrumbs.html' %}
            {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% block templates %}{% endblock %}
        {% block extra-script %}{% endblock %}
    </div>
</body>
</html>
