{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>aMuse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kiosk">
    <meta name="author" content="YouPony">
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "style.css"%}">
</head>
<body>
	<div class="casababbo">
		{% block logout %}
		<strong>
			{{ user.username }}
		</strong>
		<a href={% url 'logout' %}>
			<button class="btn">
		        Logout
			</button>
		</a>
		
	    {% endblock %}
	    {% block breadcrumbs %}
	        {% include 'administration/breadcrumps.html' %}
	    {% endblock %}
	    {% block content %}{% endblock %}
	    {% block templates %}{% endblock %}
	    {% block extra-script %}{% endblock %}
	</div>
</body>
</html>
