@import "_reset";
@import "_font-awesome";
@import "_font";

@font-color: #DDDDDD;
@bg-color: rgba(33, 33, 33, 0.7);

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.text-center {
  text-align: center;
}

h1 {
  margin-top: 0;
  padding-top: 20px;

  & + h4 {
    margin: -30px 0 0;
    padding-bottom: 20px;
    font-weight: 300;
    line-height: 1.25;
  }
}

#exhibition-detail {
  position: relative;
  z-index: 100;
  color: @font-color;
  background: @bg-color;

  span {
    display: inline-block;
  }
}

#back-button, #end-button, #close-button {
  font-size: 20px;
  line-height: 60px;
  margin: 0 20px;
  cursor: pointer;
}

#end-button {
  float: right;
}

#back-button {
  float: left;
}

#close-button {
  position: absolute;
  left: 0;
}

@slide: 700px;
@transition-time: .4s;

#main {
  -webkit-transition: all @transition-time;
  &.slide-left {
    margin-left: -@slide;
    margin-right: @slide;
  }
}

#sidebar-detail {
  -webkit-transition: all @transition-time;
  color: @font-color;
  background: @bg-color;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: -@slide;
  bottom: 0;
  width: @slide;

  h1 {
    width: 500px;
    margin-left: 100px;
  }

  &.slide-left {
    right: 0%;
  }

  small {
    font-size: 50%;
  }

  .first-image-wrapper {
    display: inline-block;
    float: left;
    margin: 0 20px;

    img.first-image {
      margin-bottom: 10px;
      border: 5px solid #FEFEFE;
    }
  }
}

#sidebar-detail {
  blockquote {
    text-align: justify;
    padding-left: 10px;
    font-size: 16px;
    line-height: 26px;
  }
}

.icon-star {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #333333;
  background: #FEFEFE;
  padding: 10px;
  font-size: 25px;

  &.icon-star-active {
    color: darkorange;
  }
}



#item-list-template {
  padding-top: 60px;
  position: relative;
  z-index: 10000;
  margin: 0 5%;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  position: relative;
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: #FEFEFE;
  opacity: 1;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 960px) {
  #item-list-template {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  #item-list-template {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}