{% extends "papacastoro/site_base.html" %}
{% load i18n %}
{% load static %}

{% block extra-styles %}
<link href="{% static "papacastoro/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "papacastoro/less/manage.less" %}" rel="stylesheet/less" type="text/css">
{% endblock %}

{% block content %}

<h3>
  <a href="javascript:history.back()"><i class="icon-list"></i> list</a>
  > {% trans "Add image" %}
</h3>
<div id="post-edit" class="row-fluid">
  <div class="span4">
    <img id="upload-preview" src="{% static "papacastoro/img/empty.png" %}" alt="Preview">
  </div>

  <div class="content_form span8">
      <form id= "edit_form" action="{{ request.get_full_path }}" method="post"
          {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
          {% csrf_token %}
          {{ form.text }}
          <div class="text-right well border-box">
            {{ form.image }}
            <a href="javascript:history.back()" class="btn">{% trans "Back" %}</a>
            <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary">
          </div>
      </form>
  </div>
</div>
{% endblock %}

{% block extra-script %}
<script>
  $('#id_image').attr({ onChange: "readURL(this);" });
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#upload-preview').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
{% endblock %}
