{% extends "papacastoro/site_base.html" %}
{% load i18n %}
{% load static %}

{% block extra-styles %}
<link href="{% static "papacastoro/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "papacastoro/less/manage.less" %}" rel="stylesheet/less" type="text/css">
{% endblock %}

{% block content %}
<div id="post-edit" class="well">
  <h3>{{ title }}</h3>
  {% for itemimage in itemimages %}
      <img class="thumb" src="{{ itemimage.image.url }}" alt="{{ itemimage.title }}">
  {% endfor %}

  {% if userimage %}
      <img class="thumb" src="{{ userimage.url }}" alt="{% trans "Personal image" %}">
  {% endif %}

  <div class="content_form">
      <form id="edit_form" action="{{ request.get_full_path }}" method="post"
          {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="text-right">
              <a href="javascript:history.go(-1)" class="btn">{% trans "Back" %}</a>
              <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary">
          </div>
      </form>
  </div>
</div>
{% endblock %}
