{% extends "papacastoro/site_base.html" %}
{% load i18n %}
{% load static %}

{% block extra-styles %}
<link href="{% static "papacastoro/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "papacastoro/less/manage.less" %}" rel="stylesheet/less" type="text/css">
{% endblock %}

{% block content %}

<div class="dialog well">
    <p>{% trans "Are you sure to delete" %}{% if object.item %} {{ object.item.name }} {% else %} {% trans "Personal image" %} {% endif%}?</p>
    <form action="." method="post" class="controls">
        {% csrf_token %}
        <a href="{{ undo_url }}" class="btn">
       		No
        </a>
        <button type="submit" value="{% trans "Submit" %}" class="btn btn-danger">
          {% trans "Yes" %}
        </button>
    </form>
</div>

{% endblock content %}
