{% extends "papacastoro/site_base.html" %}
{% load i18n %}
{% load static %}

{% block extra-styles %}
<link href="{% static "papacastoro/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "papacastoro/less/manage.less" %}" rel="stylesheet/less" type="text/css">
{% endblock %}

{% block content %}
  <h3><a href="{% url "posts_list" url %}">list</a> > {{ title }}</h3>
    <hr>
<div id="post-edit" class="row-fluid">
    <div class="span4">
        {% if itemimages %}
            <img class="thumb" src="{{ itemimages.0.image.url }}" alt="{{ itemimages.0.title }}">
        {% endif %}
        {% if userimage %}
            <img class="thumb" src="{{ userimage.url }}" alt="{% trans "Personal image" %}">
        {% endif %}
    </div>


  <div class="content_form span8">
      <form id="edit_form" action="{{ request.get_full_path }}" method="post"
          {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
          {% csrf_token %}
          {{ form.text }}
          <div class="text-right well border-box">
              <a href="{% url "posts_list" url %}" class="btn">{% trans "Back" %}</a>
              <input type="submit" value="{% trans "Save" %}" class="btn btn-primary">
          </div>
      </form>
  </div>
</div>
{% endblock %}
